<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Mary Laheen Architects</title>

  <!-- iPhone Meta Data -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="img/avatar_f392817d7a6f_96.png">
  <link rel="shortcut icon" href="img/images8487.jpg">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>
  <div class="foo image container">
    {% contentblock image %}
  </div>

  <div class="foo logo container">
    <a href="/">
      <img src="img/Logo.png" width="250" height="25">
    </a>
    {% contentblock nav %}
  </div>

  <div class="foo content container">
    {{ content }}
  </div>
</body>
</html>
